@charset "utf-8";
/*reset*/
body, p, ul, ol, li, dl, dt, dd, h1, h2, h3, h4, h5, h6, hr, blockquote,
	object, iframe, fieldset, input, legend, form, th, td {
	margin: 0;
	padding: 0
}

body, input, textarea, keygen, select, button, isindex {
	border: 0;
	outline: none;
	word-break: break-all;
	font-size: 12px;
	color: #666;
}

ul, ol, li {
	list-style: none
}

img {
	border: none;
	display: block;
}

a {
	text-decoration: none;
	color:#ffffff; /*#000;*/
}

a:hover {
	text-decoration: none
}

input { [;
	line-height: 1;
	]
}
/*common*/
h1, h2, h3, h4, h5, h6 {
	font-weight: normal
}

h1 {
	font-size: 24px
}

h2 {
	font-size: 20px
}

h3 {
	font-size: 18px
}

h4 {
	font-size: 16px
}

h5 {
	font-size: 14px
}

h6 {
	font-size: 14px
}

i, b, em {
	font-style: normal;
	font-weight: normal
}

table {
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
	/*background: #fff*/
}

td {
	padding: 3px 5px;
}

th {
	font-weight: normal;
	background: #e7f4fe;
	height: 40px
}

table, td, th {
	/*border: 1px solid #ddd;*/
}

table caption {
	font-size: 16px;
	text-align: left;
	padding-bottom: 10px
}

hr {
	border: 1px #eaeaea solid;
}

.fl {
	float: left
}

.fr {
	float: right
}

.clearBoth {
	clear: both
}

.mc {
	margin: 0 auto
}

.pr {
	position: relative;
	*zoom: 1
}

.pa {
	position: absolute
}

.tc {
	text-align: center
}

.tl {
	text-align: left !important
}

.tr {
	text-align: right !important
}

.clearfix:after {
	content: "";
	height: 0;
	font-size: 0;
	*zoom: 1;
	display: block;
	clear: both;
}

.clear {
	clear: both;
}

body, html {
	width: 100%;
	height: 100%;
	background-color: #122332;/*#ECF2EF*/
}

.box_border {
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.box_content {
	-moz-box-sizing: content-box;
	-ms-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
}

.no_select {
	-ms-user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}

.iconLeft {
	background-position: left center;
	background-repeat: no-repeat;
}

.w1920 {
	width: 100%;
	max-width: 1920px;
	min-width: 1190px;
	margin: 0 auto;
}

.main {
	/*height: 100%;*/
	position: relative;
	/*padding-left: 260px;*/
	padding-top: 44px;
}

.main .header {
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	height: 46px;
	z-index: 2;

        background:url("../images/topbj.png");
    /*background:url("../images/header_bk.png");*/
    border-bottom:1px solid #4cd7ff;
	/*background-color: #1D6B99;*/
}

.main .header .headerTitle {
	/*height: 88px;
	line-height: 48px;
	font-size: 20px;
	text-align: left;
	padding-left:10px;
	color: #fff;*/
    width:248px;
    margin-left:8px;
    height:40px;
    background-image: url("../images/logo_text.png");
}
.main .header .logo {
	/*height: 88px;*/
	width:126px;
    height:45px;
    float:left;
	background-image: url("../images/logo.png");
}

.main .header  .headerExit {
    line-height: 48px;
	font-size: 16px;
	color: #fff;
	height: 48px;
	padding-left: 28px;
	padding-right: 5px;
	margin-right: 35px;
	background-image: url("../images/icon-exit.png");
	cursor: pointer;
	/*-webkit-transition: opacity 0.3s;
	transition: opacity 0.3s;*/
}

.main .header  .icon-p {
    line-height: 48px;
	font-size: 16px;
	color: #fff;
	height: 48px;
	padding-left: 28px;
	padding-right: 5px;
	margin-right: 8px;
	background-image: url("../images/icon-p.png");
	cursor: pointer;
	/*-webkit-transition: opacity 0.3s;
	transition: opacity 0.3s;*/
}
.main .header  .headerExit:hover {
	color: rgba(255, 255, 255, 0.8);
}

.main .header .headerUsers {
	height: 48px;
	line-height: 48px;
	/*margin-top: 29px;*/
}

.main .header .headerUsers span {
	display: inline-block;
	height: 30px;
	line-height: 30px;
	color: #fff;
	font-size: 14px;
	margin-right: 10px;
}

.main .header .headerUsers span.iconUser {
	padding-left: 22px;
	background-image: url("../images/iconUser.png");
}

.main .navLeft {
	width: 240px;
	height: 100%;
	background-color: #062336;/*#333*/
	position: absolute;
	left: 0;
	top: 0;
	padding-top: 4px;
  border:1px solid #4cd7ff;
    border-radius:3px;
    margin-top:60px;
    margin-left:10px;
    padding-left:8px;
   padding-bottom:38px;
}

.main .navLeft .navList {
	height: 40px;
	line-height: 40px;
	text-align: left;
	/*padding: 0 10px;*/
	cursor: pointer;
	background: url("../images/bottomLine.png") no-repeat left bottom;
	background-size: 100% auto;
    background:#264663;
    margin-bottom:4px;
    width:210px;
}

.main .navLeft .navList div {
	height: 40px;
	line-height: 40px;
}

.main .navLeft li:hover {
	background-color: #2b597f;/*#424242;*/
}

.main .navLeft li.active {
	background-color: #2b597f;/*#424242;*/

}

.main .navLeft li.active span{

    color:#ffc92d;
} 

.main .navLeft li span {
	margin-left: 40px;
	padding-left: 40px;
	display: inline-block;
	font-size: 16px;
	color: #fff;
}

.main .navLeft li span.iconIndex {
	background-image: url("../images/iconIndex.png");
	letter-spacing: 30px;
}

.main .navLeft li span.iconManagement {
	background-image: url("../images/iconManagement.png");
}

.main .navLeft li span.iconManagement {
	background-image: url("../images/iconManagement.png");
}

.main .navLeft li span.iconUser {
	background-image: url("../images/iconUser.png");
}

.main .navLeft li span.iconUpload {
	background-image: url("../images/iconUpload.png");
}

.main .navLeft li span.iconJoin {
	background-image: url("../images/iconJoin.png");
}

.main .navLeft li span.iconLabel {
	background-image: url("../images/iconLabel.png");
}

.main .navLeft li span.iconSystem {
	background-image: url("../images/iconSystem.png");
}

.main .navLeft .dateBox {
	border-top: 1px solid rgba(255, 255, 255, 0.3);
	margin-top: 70px;
	padding-top: 16px;
	color: #B1B1B1;
}

.main .navLeft .dateBox div {
	text-align: center;
	height: 30px;
	line-height: 30px;
	font-size: 14px;
}

.main .container .page {
	display: none;
	padding-top: 40px;
}

.main .container .show {
	display: block;
}

.main .container {
	height: 100%;
	/*overflow: scroll;*/
}

.main .container .bg_whiteSD {
	/*background-color: #fff;
	box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.15);*/
    border:1px solid #568d96;
    background:#172b3c;
	margin: 0 auto;
}

.main .container .search {
	min-width: 900px;
	text-align: center;
	padding: 20px;
	/*padding-top: 32px;*/
	max-width: 1500px;
}

.main .container .search .inputBox {
	width: 670px;
	margin: 0 auto;
	height: 34px;
	line-height: 34px;
}

.main .container .search .inputBox input {
	float: left;
	border: 1px solid #6ca5e7;
	padding-left: 10px;
	padding-right: 34px;
	background: url("../images/iconSearch.png") no-repeat;
	background-position: 530px center;
	/*background-color: #ECF2EF;*/
	color: #a0a0a0;
	font-size: 14px;
	width: 558px;
	height: 34px;
	line-height: 34px; [;
	line-height: 1;
	]
}

.main .container .inputblock {
	text-align: left;
}

.main .container .inputblock input, select {
	width: 120px;
	height: 32px;
	line-height: 34px;
	cursor: pointer;
	display: inline-block;
	border: 1px solid #5e90ca;
	margin-left: 10px;
	background:#142f47;/*#efefef;*/
}

/*.main .container .search .inputBox*/
.btnSearch {
	width: 70px;
	height: 34px;
	line-height: 34px;
	cursor: pointer;
	float: right;
	background: url("../images/searchBtn.png") no-repeat;
	display: inline-block;
}

.checkList {
	margin: 0 auto;
	width: 100%;
	max-width: 900px;
	padding-top: 20px;
}

.u-con-list {
	min-width: 860px;
	/*max-width:960px;*/
}

.u-con-list li.label {
	float: left;
	width: 15%;
	line-height: 30px;
	color:#c9c9c9;
}

.u-con-list li {
	float: left;
	width: 15%;
	line-height: 30px;
	padding: 4px;
}

.main .container .search .checkList li {
	color: #bbccd8;
	font-size: 14px;
	height: 20px;
	line-height: 20px;
	position: relative;
	padding-left: 14px;
	background-image: url("../images/iconNoCheck.png");
	background-position: left center;
	background-repeat: no-repeat;
	cursor: pointer;
	margin-top: 6px;
	margin-right: 4px;
	float: left;
}

.main .container .search  .checkList li.check {
	background-image: url("../images/iconCheck.png");
}

.main .container .content {
	width: 100%;
	min-width: 860px;
	max-width: 1500px;
	padding-right: 340px;
	padding-top: 12px;
	position: relative;
}

.main .container .content .rightAb {
	position: absolute;
	top: 0;
	right: 0;
	width: 319px;
}

.main .container .content .left .bg_whiteSD {
	padding: 20px;
	margin-bottom: 14px;
	overflow: hidden;
}
/*.main .container .content .left*/
.plateHeader {
	height: 30px;
	line-height: 30px;
	background-repeat: no-repeat;
	background-position: left center;
}

.i-sign {
background-image: url("../images/i-sign.png");
	background-position: left center;
    background-repeat: no-repeat;
}
.main .container .content .left .jingpin {
	/*background-image: url("../images/iconJingpin.png");*/
    color:#00f0ff;
    font-size:16px;
    
    padding-left:16px;
}

.main .container .content .left .resou {
	/*background-image: url("../images/iconResou.png");*/
    color:#00f0ff;
     font-size:16px;
     padding-left:16px;
    
}

.main .container .content .dataword {
	width: 319px;
	height: 97px;
	background: url("../images/datawordBg.png");
	margin: 12px 0;
	text-align: center;
	padding-top: 12px;
	padding-left: 108px;
}

.font22 {
	font-size: 22px;
	color: #00f0ff;/*#1D6B99;*/
	height: 38px;
	line-height: 38px;
}
.font16 {
	font-size: 16px;
	color: #00f0ff;/*#1D6B99;*/
	height: 38px;
	line-height: 38px;
}


.main .container .content .dataword .font18 {
	font-size: 18px;
	color: #1D6B99;
	height: 38px;
	line-height: 38px;
}

.main .container .content .dataword div.font16 {
	color: #222;
	font-size: 16px;
	height: 36px;
	line-height: 36px;
}

.main .container .content .rightAb .bg_whiteSD {
	/*padding-bottom: 20px;*/
	margin-bottom: 12px;
}

#index-m .main, #docdetail .main, #tagmgr .main, #sysmgr .main,
	#stockmgr .main, #percenter .main, #docmgr .main, #auditupload .main {
	padding-left: 0px;
	padding-top: 18px;
	padding-right: 20px;
}

ul.list3 {
	margin-top: 8px;
    margin-left:4px;
    color:#ffc92d;
}

ul.list3 li {
	width: 30%;
	text-align: left;
	float: left;
	line-height: 24px;
	padding-left: 6px;
}

.idx_box_list {
	overflow: hidden;
	height: 100%;
}

#upload {
	width: 230px;
	height: 40px;
	line-height: 40px;
	cursor: pointer;
	background: url("../images/fileupload.png") no-repeat;
	text-align: center;
	margin: 0 auto;
	margin-top: 20px;
    margin-bottom:20px;
}

.title {
	margin-top: 6px;
	
}
.idx_box_list .title {
margin-left: 10px;
    padding-left:12px;
}

.star {
	background: url("../images/star.png") no-repeat;
	display: inline-block;
	width: 16px;
	height: 16px;
	vertical-align: middle;
}

.i-star {
	background: url("../images/iconstar.png") no-repeat;
	display: inline-block;
	width: 14px;
	height: 14px;
	vertical-align: middle;
}

.index-head-bg {
	width: 319px;
	height: 126px;
	background: url("../images/index-head-bg.png");
	padding-left: 30px;
}

.index-head-bg .userName {
	font-size: 18px;
	color: #1D6B99;
	line-height: 120px;
	padding-left: 20px;
}

.index-head {
	width: 82px;
	height: 82px;
	margin-left: 10px;
	padding-top: 18px;
	float: left;
}

.doc {
	background: url("../images/doc.png") no-repeat;
	display: inline-block;
	width: 16px;
	height: 16px;
	vertical-align: middle;
}

.doc-title {
	font-size: 20px;
	line-height: 30px;
}

.pdf {
	background: url("../images/pdf.png") no-repeat;
	display: inline-block;
	width: 16px;
	height: 16px;
	vertical-align: middle;
}

.exls {
	background: url("../images/flash.png") no-repeat;
	display: inline-block;
	width: 16px;
	height: 16px;
	vertical-align: middle;
}

.list1 {
	float: left;
	padding-left: 6px;
	margin-top: 8px;
	line-height: 28px;
	height: 28px;
}

.col3 {
	width: 30%;
	float: left;
	min-height: 80px;
	margin-top: 6px;
}

.row {
	width: 100%;
	clear: both;
	line-height: 40px;
    margin-top:10px;
	height: 100%;
	/*margin-bottom: 10px;*/
	border-bottom:1px solid #5e90ca;
	overflow: hidden;
}

.row .title {
	font-size: 16px;
	font-weight: bold;
    color:#ffffff !important;
}

.row ul li {
	float: left;
	padding-right: 18px;
	padding-bottom: 10px;
	color: #999999;
}

.i-docmgr {
	background-image: url("../images/iconDocmgr.png");
	margin-bottom: 16px;
}

.main .container .top {
	min-width: 900px;
	padding: 20px;
	/*padding-top: 32px;*/
	max-width: 1500px;
}

#docdetail .left {
	width: 650px;
	float: left;
}

#docdetail .right {
	width: 200px;
	float: right;
	vertical-align: middle;
}

#docdetail .right .download {
	background-image: url("../images/down.png");
	width: 88px;
	height: 34px;
	float: left;
	margin-top: 30px;
	cursor: pointer;
	margin-left: 10px;
}

#docdetail .right .favorite {
	background-image: url("../images/favorite.png");
	width: 88px;
	height: 34px;
	float: left;
	margin-top: 30px;
	margin-left: 10px;
}

.submit {
	background: url("../images/submit.png") no-repeat;
	width: 88px;
	height: 34px;
	margin-top: 30px;
	cursor: pointer
}

#owner {
	width: 120px;
}

#size {
	width: 60px;
}

#score {
	width: 60px;
}

#comment {
	width: 60px;
}

#format {
	width: 60px;
}

#date {
	width: 150px;
}

.d-content {
	width: 100%;
	background: #f6f6f6;
	/*padding-right: 10px;*/
	border: 1px solid #5e90ca;
	overflow: hidden;
	height: 100%;
}

#docdetail .d-content .left {
	width: 180px;
	min-height: 300px;
	border-right: 1px solid #cccccc;
}

.d-content .dtitle {
	background: #1cb19b;
	height: 40px;
	color: #ffffff;
	font-size: 18px;
	text-align: center;
	line-height: 40px;
	height: 40px;
}

.d-content .right {
	width: 800px;
}

#comm .row {
	margin-top: 14px;
	line-height: 46px;
	font-size: 16px;
   
}

#comm .row .name {
	color: #1d6b99;
}

#comm .row .com-date {
	margin-left: 20px;
}

#comm .row #doctitle {
	clear: both;
}

#commcontent {
	margin-left: 10px;
}

#comm-content {
border:1px solid #5e90ca;
}
#comment-content {
	width: 100%;
	min-height: 100px;
	border: 1px solid #5e90ca;
	background: #142f47;
}

#comm-title {
	margin-top: 10px;
	width: 80px;
	height: 30px;
    padding-left:20px;
	/*border-top: 1px solid #cccccc;
	border-left: 1px solid #cccccc;
	border-right: 1px solid #cccccc;*/
	line-height: 30px;
}

.tab-bc {
	border-bottom: 1px solid #cccccc;
}

.imghead {
	float: left;
	margin-right: 10px;
    margin-left: 10px;
}

#com-score {
	line-height: 44px;
	font-size: 16px;
	float: left;
}

.scoreremark ul {
	padding-left: 0;
	overflow: hidden;
}

.scoreremark ul li {
	float: left;
	list-style: none;
	width: 20px;
	height: 20px;
	background: url(../images/ico.png)
}

.scoreremark ul li a {
	display: block;
	width: 100%;
	padding-top: 26px;
	overflow: hidden;
}

.scoreremark ul li.light {
	background: url(../images/star.png)
}

.i-percener {
	background-image: url("../images/ipercener.png");
	margin-bottom: 16px;
}

.i-audit {
	background-image: url("../images/auditupload.png");
	margin-bottom: 16px;
	cursor: pointer;
}

.sidebar {
	width: 100%;
	margin: 0 auto;
}

.inline-ul {
	font-size: 0; /* 所有浏览器 */
	*word-spacing: -1px; /* IE6、7 */
}

.inline-ul ul li {
	font-size: 12px;
	letter-spacing: normal;
	word-spacing: normal;
	vertical-align: top;
	display: inline-block;
	*display: inline;
	*zoom: 1;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
	/* firefox 中 letter-spacing 会导致脱离普通流的元素水平位移 */
	.inline-ul {
		letter-spacing: -5px; /* Safari 等不支持字体大小为 0 的浏览器, N 根据父级字体调节*/
	}
}

.widget-title {
	font-size: 13px;
	font-weight: normal;
	color: #888888;
	/*padding: 20px 20px 0px;*/
}

.widget-tab .widget-title {
	font-size: 0;
}

.widget-box a {
color:#ffffff;
}

.widget-tab .widget-box {
	/*margin: 0 20px 20px;*/
	background: #142f47;
	padding: 20px;
	border: 1px solid #01cbda;
}

.widget-tab .widget-title ul li {
	overflow: hidden;
	margin-left: 0;
	width: 20%;
	text-align: center;
	margin-right: 1.3%;
	padding: 8px 1%;
}

.widget-tab .widget-title ul li:hover {
	background: #21a9c4;
    color:#ffffff;
    /*line-height:22px;*/
}

.widget-tab .widget-title label {
	cursor: pointer;
	display: block;
	font-size: 14px;
}

.widget-tab .widget-title ul li.active {
	background:#21a9c4; /*#F7F7F7*/
}

.widget-tab input {
	display: none
}

.widget-tab .widget-box ul {
	display: none
}

#new:checked ~ .widget-title .new, #hot:checked ~ .widget-title .hot,
	#random:checked ~ .widget-title .random {
	background: #21a9c4;
	border: 1px solid #21a9c4;
	/*border-bottom: 1px solid #ffffff;*/
	color: #ffffff;
	font-weight: bold;
}

#new:checked ~ .widget-box .new-list, #hot:checked ~ .widget-box .hot-list,
	#random:checked ~ .widget-box .random-list {
	display: block;
	height: 90px;

}

.widget-box ul li a {
	padding-left: 20px;
}

.aduit {
	background-image: url("../images/audit.png");
	width: 88px;
	height: 34px;
	margin-top: 30px;
	display: inline-block;
	cursor: pointer;
}

.delstock {
	background-image: url("../images/delstock.png");
	width: 107px;
	height: 34px;
	margin-top: 30px;
	display: inline-block;
	cursor: pointer;
}

#newfolder {
	background: url("../images/newfolder_unsel.png") no-repeat;
	line-height: 20px;
	margin-top: 20px;
	padding-left: 20px;
	color: #787474;
	cursor: pointer;
	font-size: 14px;
	display: inline-block;
}

#del {
	background: url("../images/delfile_unsel.png") no-repeat;
	line-height: 20px;
	margin-top: 20px;
	padding-left: 20px;
	cursor: pointer;
	color: #787474;
	font-size: 14px;
	display: inline-block;
}

#move {
	background: url("../images/movefile_unsel.png") no-repeat;
	line-height: 20px;
	margin-top: 20px;
	padding-left: 20px;
	color: #787474;
	cursor: pointer;
	font-size: 14px;
	display: inline-block;
}

#uploadfile {
	width: 230px;
	height: 40px;
	line-height: 50px;
	cursor: pointer;
	background: url("../images/fileupload.png") no-repeat;
	text-align: center;
	display: inline-block;
	margin: 0 auto;
}

.addstock {
	background-image: url("../images/addstock.png");
	width: 107px;
	height: 34px;
	margin-top: 30px;
	display: inline-block;
	cursor: pointer;
}

.reback {
	background-image: url("../images/reback.png");
	width: 88px;
	height: 34px;
	margin-top: 30px;
	display: inline-block;
	cursor: pointer;
}

.i-tagmgr {
	background-image: url("../images/tagmgr.png");
	width: 150px;
	height: 34px;
	margin-bottom: 16px;
}

.i-usermgr {
	background-image: url("../images/usermgr.png");
	width: 150px;
	height: 34px;
	margin-bottom: 16px;
}

.i-stock {
	background-image: url("../images/stock-t.png");
	width: 150px;
	height: 34px;
	margin-bottom: 16px;
}

/*#auditupload */
.tblist {
	width: 100%;
	text-align: center;
    border:1px solid #4cd7ff;
    color:#ffffff;
}
#tblist-body tr td a {
color:#ffffff;
}

.f-blue {
	color: #21bca8;
}

.f-red {
	color: #ff0000;
}

/*#auditupload */
.tblist tr th {
	/*border: 1px solid #cccccc;*/
	background: #1f4e75;
    color:#ffc92d;
}

.tblist tr:nth-child(even){background:#192229;}
.tblist tr:nth-child(odd){background:#122e45;}



.tblist input[type="radio"] {
	width: 30px !important;
	height: 16px !important;
}

#docmgr .top {
	padding: 0px;
	padding-left: 10px;
	padding-right: 10px;
}

.border-l {
	border: 1px solid #cccccc;
	padding: 20px;
}

ol.list1 {
	color: #000000;
	display: block;
}

.widget-box .col3 {
	margin-top: 0px;
}

.bodyMask {
	/* height: 100%; */
	width: 100%;
	display: none;
}

.mask {
	z-index: 1000;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	/* height: 100%;
	overflow: hidden; */
	background-color: rgba(0, 0, 0, 0.6);
	text-align: center;
	font-size: 12px;
}

.mask .popup {
	display: inline-block;
	background-color: #fff;
	padding-bottom: 50px;
	vertical-align: middle;
	width: 600px;
}

.mask span.fullScreen {
	height: 100%;
	vertical-align: middle;
	display: inline-block;
}

.model-title {
	line-height: 30px;
	font-size: 18px;
	padding: 10px;
	text-align: left;
	padding-left: 30px;
}

.tbl-row {
	/*width: 100%;*/
	text-align: left;
	line-height: 34px;
	height: 40px;
	padding-left: 20px;
	padding-right: 20px;
	clear: both;
}

.tbl-row .lable {
	width: 30%;
	float: left;
}

.tbl-row .ctrl {
	float: right;
	width: 70%;
}

.tbl-row .ctrl select {
	margin-left: 0px;
    background:#ffffff;
    border:1px solid #cccccc;
}

.tbl-row .ctrl .inputBox {
	width: 80%;
	border: 1px solid #cccccc;
	line-height: 28px;
	height: 28px;
}

.closed {
	background: url("../images/closed.png") no-repeat;
	width: 20px;
	height: 20px;
	margin-top: 18px;
	margin-right: 20px;
	cursor: pointer;
}

#newfolder:hover {
	background: url("../images/newfolder.png") no-repeat;
	color: #21bca8;
}

#del:hover {
	background: url("../images/delfile.png") no-repeat;
	color: #21bca8;
}

#move:hover {
	background: url("../images/movefile.png") no-repeat;
	color: #21bca8;
}

.row-id {
	display: none;
}

#tblist-body tr {
	line-height: 26px;
	height: 26px;
}

#tblist-body tr td {
	padding-left: 4px;
	text-align: left;
}

#doc-content {
	width: 100%;
    background:#142f47;
}

#doc-content p {
	font-size: 16px;
	word-break: break-all;
	text-align: left;
	text-indent: 2em;
	padding: 10px;
	line-height: 28px;
    color:#ffffff;
}

#doc-property {
	font-size: 14px;
	padding-top: 15px;
}


.tblist {
	width: 100%;
	margin: 0 auto;
}

.tblist tr td {
	height: 32px;
	line-height: 32px;
}

.btn-cmd-list {
	margin-left: 16px;
}

.btn-cmd-list a {
	padding: 6px 10px 6px 10px;
	border: 1px solid #cccccc;
	cursor: pointer;
}

.btn-cmd-list a:hover {
	background: #21bca8;
	color: #ffffff;
}

.chksel {
	width: 50px;
}

.ul-img img {
	width: 40px;
	height: 40px;
}

.ul-header {
	width: 100%;
	line-height: 20px;
	height: 48px;
	margin-top: 6px;
    color:#ffffff;
}

.ul-header-right {
	padding-left: 8px;
}

.list1 {
	width: 100%;
	margin-left: 4px
}

.ul-header-docnum {
	color:#ffc92d; /*#226c97;*/
}

#resou-doc .col3 {
	height: 160px;
    margin-top: 20px;
}

.tag-li {
	float: left;
	margin-right: 10px;
	width: auto;
	height: 26px;
	line-height: 26px;
	border: 1px solid #cccccc;
	padding: 0px 8px;
	border-radius: 6px;
	cursor: pointer;
}

.tag-li-in {
	/*background-color: #b3e882;*/
	color: #f8f6fb;
	background-color: #6eb7fc;
}

#docdetail .right .perview {
	background-image: url("../images/perview.png");
	width: 88px;
	height: 34px;
	float: left;
	margin-top: 30px;
}

.btn-default {
	background: #00a2d4;
	line-height: 24px;
	padding: 2px;
	padding-left: 6px;
	padding-right: 6px;
	color: #ffffff;
	border: 1px solid #cccccc;
	border-radius: 4px;
	cursor: pointer;
}
#btnadd {
	background: url("../images/btnadd.png") no-repeat left center;
	line-height: 24px;
       background-position:8px 8px;
	border: 0;
	padding-left: 30px;
	margin-top: 30px;
	display: inline-block;
	cursor: pointer;
     background-color:#226c97;
       border-radius:3px;
        color:#e8f0f4;
}

#btnmodify {
	background: url("../images/btnedit_sel.png") no-repeat left center;
	line-height: 24px;
       background-position:8px 8px;
	border: 0;
	margin-top: 30px;
	padding-left: 30px;
	display: inline-block;
	cursor: pointer;
     background-color:#226c97;
       border-radius:3px;
        color:#e8f0f4;
}

#btndel {
	background: url("../images/btndel.png") no-repeat left center;
    background-position:8px 8px;
    background-color:#226c97;/*#fc0b0d;*/
	line-height: 24px;
	border: 0;
    color:#e8f0f4;
	margin-top: 30px;
	padding-left: 30px;
	display: inline-block;
	cursor: pointer;
    border-radius:3px;
}

#nav_title {
	width: 200px;
	float: left;
	background-color: royalblue;
	position: relative;
}

#nav_title_btn {
	font-size: 16px;
	width: 96%;
	height: 50px;
	background-color:#072a45; /*#333;*/
	line-height: 50px;
	text-align: center;
	color: #01cbda;
	cursor: pointer;
    border-radius:3px;
    border:1px solid #01cbda;
    border-top:0px ;
    margin-top:-4px;
    margin-bottom:10px;
}

#nav_title_dsp {
	color: #ffffff;
	width: 40px;
	height: 50px;
	background-color: darkgoldenrod;
	position: absolute;
	cursor: pointer;
	left: -50px;
	line-height: 50px;
	text-align: center;
}

#main-content {
	padding-left: 260px;
}

.nav_shrink {
	background: url("../images/nav_shrink.png") no-repeat;
	width: 30px;
	height: 20px;
	float: right;
	line-height: 50px;
	margin-top: 4px;
}
.uplaodTaskBox {
	cursor: pointer;
	margin-top:20px;
	background-color: #8C8585;
	line-height: 30px;
	font-size: 14px;
	color: white;
	text-align: center;
    margin-right:20px;
}
.uploadTaskListBox {
	height: 100%;
	width: 100%;
	display: none;
}
.uploadTaskListBox .popup{
position: absolute;
top: 40%;
left: 35%;
}

.nav_arrow {
background: url("../images/nav_arrow.png") no-repeat;
height:220px;
width:16px;
margin-top:40%;
cursor:pointer;
}
.dateBox {
color:#6c96ab;
border:1px solid #28779c;
border-radius:3px;
line-height:32px;
    padding-left: 10px;
    padding-right: 10px;
    margin-right:10px;
    margin-top:8px;
}
.per-10 {
width:10% !important;
}
.per-5 {
width:5% !important;
}
.per-30 {
width:30% !important;
}
.per-50 {
width:50% !important;
}
.per-40 {
width:40% !important;
}
.per-15 {
width:15% !important;
}
#zgzhanfa li a {
padding-left:4px;
}