<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.phoibe.doc.cms.dao.PhoibeUserMapper">
  <resultMap id="BaseResultMap" type="me.phoibe.doc.cms.domain.po.PhoibeUser">
    <id column="ID" jdbcType="DECIMAL" property="id" />
    <result column="USER_NAME" jdbcType="VARCHAR" property="userName" />
    <result column="TYPE" jdbcType="DECIMAL" property="type" />
    <result column="STATUS" jdbcType="DECIMAL" property="status" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="PASSWORD" jdbcType="VARCHAR" property="password" />
    <result column="REALNAME" jdbcType="VARCHAR" property="realname" />
    <result column="NICKNAME" jdbcType="VARCHAR" property="nickname" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, USER_NAME, TYPE, STATUS, CREATE_TIME, UPDATE_TIME, PASSWORD, REALNAME, NICKNAME
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from PHOIBE_USER
    where ID = #{id,jdbcType=DECIMAL}
  </select>

  <sql id="selectByParam_Condition_Sql">
    <where>
      1=1
      <if test="userName != null">
        and USER_NAME = #{userName,jdbcType=VARCHAR}
      </if>
      <if test="type != null">
        and TYPE = #{type,jdbcType=DECIMAL}
      </if>
      <if test="status != null">
        and STATUS = #{status,jdbcType=DECIMAL}
      </if>
      <if test="createTime != null">
        and CREATE_TIME = #{createTime,jdbcType=TIMESTAMP}
      </if>
      <if test="updateTime != null">
        and UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP}
      </if>
      <if test="password != null">
        and PASSWORD = #{password,jdbcType=VARCHAR}
      </if>
      <if test="realname != null">
        and REALNAME = #{realname,jdbcType=VARCHAR}
      </if>
      <if test="nickname != null">
        and NICKNAME = #{nickname,jdbcType=VARCHAR}
      </if>
    </where>

  </sql>

  <select id="selectByParam" parameterType="me.phoibe.doc.cms.domain.po.PhoibeUser" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from PHOIBE_USER
    <include refid="selectByParam_Condition_Sql"/>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from PHOIBE_USER
    where ID = #{id,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="me.phoibe.doc.cms.domain.po.PhoibeUser">
    insert into PHOIBE_USER (ID, USER_NAME, TYPE, 
      STATUS, CREATE_TIME, UPDATE_TIME, 
      PASSWORD, REALNAME, NICKNAME
      )
    values (#{id,jdbcType=DECIMAL}, #{userName,jdbcType=VARCHAR}, #{type,jdbcType=DECIMAL}, 
      #{status,jdbcType=DECIMAL}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{password,jdbcType=VARCHAR}, #{realname,jdbcType=VARCHAR}, #{nickname,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="me.phoibe.doc.cms.domain.po.PhoibeUser">
    insert into PHOIBE_USER
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="userName != null">
        USER_NAME,
      </if>
      <if test="type != null">
        TYPE,
      </if>
      <if test="status != null">
        STATUS,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
      <if test="updateTime != null">
        UPDATE_TIME,
      </if>
      <if test="password != null">
        PASSWORD,
      </if>
      <if test="realname != null">
        REALNAME,
      </if>
      <if test="nickname != null">
        NICKNAME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=DECIMAL},
      </if>
      <if test="userName != null">
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=DECIMAL},
      </if>
      <if test="status != null">
        #{status,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="realname != null">
        #{realname,jdbcType=VARCHAR},
      </if>
      <if test="nickname != null">
        #{nickname,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="me.phoibe.doc.cms.domain.po.PhoibeUser">
    update PHOIBE_USER
    <set>
      <if test="userName != null">
        USER_NAME = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        TYPE = #{type,jdbcType=DECIMAL},
      </if>
      <if test="status != null">
        STATUS = #{status,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null">
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="password != null">
        PASSWORD = #{password,jdbcType=VARCHAR},
      </if>
      <if test="realname != null">
        REALNAME = #{realname,jdbcType=VARCHAR},
      </if>
      <if test="nickname != null">
        NICKNAME = #{nickname,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="me.phoibe.doc.cms.domain.po.PhoibeUser">
    update PHOIBE_USER
    set USER_NAME = #{userName,jdbcType=VARCHAR},
      TYPE = #{type,jdbcType=DECIMAL},
      STATUS = #{status,jdbcType=DECIMAL},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      PASSWORD = #{password,jdbcType=VARCHAR},
      REALNAME = #{realname,jdbcType=VARCHAR},
      NICKNAME = #{nickname,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=DECIMAL}
  </update>
</mapper>