<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.phoibe.doc.cms.dao.PhoibeCommentMapper">
  <resultMap id="BaseResultMap" type="me.phoibe.doc.cms.domain.po.PhoibeComment">
    <id column="ID" jdbcType="DECIMAL" property="id" />
    <result column="USER_ID" jdbcType="DECIMAL" property="userId" />
    <result column="COMMENT_CONTENT" jdbcType="VARCHAR" property="commentContent" />
    <result column="DOCUMENT_ID" jdbcType="DECIMAL" property="documentId" />
    <result column="SCORE" jdbcType="DECIMAL" property="score" />
    <result column="STATUS" jdbcType="DECIMAL" property="status" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, USER_ID, COMMENT_CONTENT, DOCUMENT_ID, SCORE, STATUS, CREATE_TIME, UPDATE_TIME
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from PHOIBE_COMMENT
    where ID = #{id,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from PHOIBE_COMMENT
    where ID = #{id,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="me.phoibe.doc.cms.domain.po.PhoibeComment">
    insert into PHOIBE_COMMENT (ID, USER_ID, COMMENT_CONTENT, 
      DOCUMENT_ID, SCORE, STATUS, 
      CREATE_TIME, UPDATE_TIME)
    values (#{id,jdbcType=DECIMAL}, #{userId,jdbcType=DECIMAL}, #{commentContent,jdbcType=VARCHAR}, 
      #{documentId,jdbcType=DECIMAL}, #{score,jdbcType=DECIMAL}, #{status,jdbcType=DECIMAL}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="me.phoibe.doc.cms.domain.po.PhoibeComment">
    insert into PHOIBE_COMMENT
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="userId != null">
        USER_ID,
      </if>
      <if test="commentContent != null">
        COMMENT_CONTENT,
      </if>
      <if test="documentId != null">
        DOCUMENT_ID,
      </if>
      <if test="score != null">
        SCORE,
      </if>
      <if test="status != null">
        STATUS,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
      <if test="updateTime != null">
        UPDATE_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=DECIMAL},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=DECIMAL},
      </if>
      <if test="commentContent != null">
        #{commentContent,jdbcType=VARCHAR},
      </if>
      <if test="documentId != null">
        #{documentId,jdbcType=DECIMAL},
      </if>
      <if test="score != null">
        #{score,jdbcType=DECIMAL},
      </if>
      <if test="status != null">
        #{status,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="me.phoibe.doc.cms.domain.po.PhoibeComment">
    update PHOIBE_COMMENT
    <set>
      <if test="userId != null">
        USER_ID = #{userId,jdbcType=DECIMAL},
      </if>
      <if test="commentContent != null">
        COMMENT_CONTENT = #{commentContent,jdbcType=VARCHAR},
      </if>
      <if test="documentId != null">
        DOCUMENT_ID = #{documentId,jdbcType=DECIMAL},
      </if>
      <if test="score != null">
        SCORE = #{score,jdbcType=DECIMAL},
      </if>
      <if test="status != null">
        STATUS = #{status,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null">
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="me.phoibe.doc.cms.domain.po.PhoibeComment">
    update PHOIBE_COMMENT
    set USER_ID = #{userId,jdbcType=DECIMAL},
      COMMENT_CONTENT = #{commentContent,jdbcType=VARCHAR},
      DOCUMENT_ID = #{documentId,jdbcType=DECIMAL},
      SCORE = #{score,jdbcType=DECIMAL},
      STATUS = #{status,jdbcType=DECIMAL},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=DECIMAL}
  </update>

  <sql id="selectByPage_Condition_Sql">
    <where>
      1=1
      <if test="param.userId != null">
        and USER_ID = #{param.userId,jdbcType=DECIMAL}
      </if>
      <if test="param.documentId != null">
        and DOCUMENT_ID = #{param.documentId,jdbcType=DECIMAL}
      </if>
      <if test="param.score != null">
        and SCORE = #{param.score,jdbcType=DECIMAL}
      </if>
      <if test="param.status != null">
        and STATUS = #{param.status,jdbcType=DECIMAL}
      </if>
    </where>
  </sql>

  <select id="selectByPage" parameterType="me.phoibe.doc.cms.domain.po.PageParam" resultMap="BaseResultMap">
    SELECT t.* FROM (
    select
    <include refid="Base_Column_List"/>,rownum rno
    from PHOIBE_COMMENT
    <include refid="selectByPage_Condition_Sql" />
    order by ${orderBy} ${sort}
    ) t WHERE t.rno BETWEEN #{start} AND (#{start}+#{limit})
  </select>

  <select id="selectCountByPage" parameterType="me.phoibe.doc.cms.domain.po.PageParam" resultType="long">
    select
    COUNT(*)
    from PHOIBE_COMMENT
    <include refid="selectByPage_Condition_Sql" />
  </select>
</mapper>