<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.phoibe.doc.cms.dao.PhoibeDocumentMapper">
  <resultMap id="BaseResultMap" type="me.phoibe.doc.cms.domain.po.PhoibeDocument">
    <id column="ID" jdbcType="DECIMAL" property="id" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="FORMAT" jdbcType="VARCHAR" property="format" />
    <result column="USER_ID" jdbcType="DECIMAL" property="userId" />
    <result column="SCORE" jdbcType="DECIMAL" property="score" />
    <result column="FILE_PATH" jdbcType="VARCHAR" property="filePath" />
    <result column="FILE_SIZE" jdbcType="DECIMAL" property="fileSize" />
    <result column="COMBAT_TYPE" jdbcType="DECIMAL" property="combatType" />
    <result column="ARMS" jdbcType="DECIMAL" property="arms" />
    <result column="STATUS" jdbcType="DECIMAL" property="status" />
    <result column="AUDIT_STATUS" jdbcType="DECIMAL" property="auditStatus" />
    <result column="AUDIT_USER_ID" jdbcType="DECIMAL" property="auditUserId" />
    <result column="PROGRESS" jdbcType="DECIMAL" property="progress" />
    <result column="TAG" jdbcType="VARCHAR" property="tag" />
    <result column="DESCRIPTION" jdbcType="VARCHAR" property="description" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="PAGECOUNT" jdbcType="DECIMAL" property="pagecount" />
    <result column="HITCOUNT" jdbcType="DECIMAL" property="hitcount" />
    <result column="RECORDER" jdbcType="DECIMAL" property="recorder" />
    <result column="AUDIT_TIME" jdbcType="TIMESTAMP" property="auditTime" />
    <result column="ISSTOCK" jdbcType="DECIMAL" property="isstock" />
    <result column="STOCK_TIME" jdbcType="TIMESTAMP" property="stockTime" />
    <result column="STOCKER" jdbcType="VARCHAR" property="stocker" />
    <result column="USER_REAL_NAME" jdbcType="VARCHAR" property="userRealName" />
    <result column="WARADDR" jdbcType="VARCHAR" property="waraddr" />
    <result column="WARTIME" jdbcType="TIMESTAMP" property="wartime" />
    <result column="WINNER" jdbcType="VARCHAR" property="winner" />
    <result column="LOSER" jdbcType="VARCHAR" property="loser" />
    <result column="WARNUM" jdbcType="VARCHAR" property="warnum" />
    <result column="WARSTATE" jdbcType="VARCHAR" property="warstate" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="me.phoibe.doc.cms.domain.po.PhoibeDocument">
    <result column="CONTENT" jdbcType="BLOB" property="content" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, NAME, FORMAT, USER_ID, SCORE, FILE_PATH, FILE_SIZE, COMBAT_TYPE, ARMS, STATUS, 
    AUDIT_STATUS, AUDIT_USER_ID, PROGRESS, TAG, DESCRIPTION, CREATE_TIME, UPDATE_TIME, 
    PAGECOUNT, HITCOUNT, RECORDER, AUDIT_TIME, ISSTOCK, STOCK_TIME, STOCKER, USER_REAL_NAME, 
    WARADDR, WARTIME, WINNER, LOSER, WARNUM, WARSTATE
  </sql>
  <sql id="Blob_Column_List">
    CONTENT
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from PHOIBE_DOCUMENT
    where ID = #{id,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from PHOIBE_DOCUMENT
    where ID = #{id,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="me.phoibe.doc.cms.domain.po.PhoibeDocument">
    insert into PHOIBE_DOCUMENT (ID, NAME, FORMAT, 
      USER_ID, SCORE, FILE_PATH, 
      FILE_SIZE, COMBAT_TYPE, ARMS, 
      STATUS, AUDIT_STATUS, AUDIT_USER_ID, 
      PROGRESS, TAG, DESCRIPTION, 
      CREATE_TIME, UPDATE_TIME, PAGECOUNT, 
      HITCOUNT, RECORDER, AUDIT_TIME, 
      ISSTOCK, STOCK_TIME, STOCKER, 
      USER_REAL_NAME, WARADDR, WARTIME, 
      WINNER, LOSER, WARNUM, 
      WARSTATE, CONTENT)
    values (#{id,jdbcType=DECIMAL}, #{name,jdbcType=VARCHAR}, #{format,jdbcType=VARCHAR}, 
      #{userId,jdbcType=DECIMAL}, #{score,jdbcType=DECIMAL}, #{filePath,jdbcType=VARCHAR}, 
      #{fileSize,jdbcType=DECIMAL}, #{combatType,jdbcType=DECIMAL}, #{arms,jdbcType=DECIMAL}, 
      #{status,jdbcType=DECIMAL}, #{auditStatus,jdbcType=DECIMAL}, #{auditUserId,jdbcType=DECIMAL}, 
      #{progress,jdbcType=DECIMAL}, #{tag,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{pagecount,jdbcType=DECIMAL}, 
      #{hitcount,jdbcType=DECIMAL}, #{recorder,jdbcType=DECIMAL}, #{auditTime,jdbcType=TIMESTAMP}, 
      #{isstock,jdbcType=DECIMAL}, #{stockTime,jdbcType=TIMESTAMP}, #{stocker,jdbcType=VARCHAR}, 
      #{userRealName,jdbcType=VARCHAR}, #{waraddr,jdbcType=VARCHAR}, #{wartime,jdbcType=TIMESTAMP}, 
      #{winner,jdbcType=VARCHAR}, #{loser,jdbcType=VARCHAR}, #{warnum,jdbcType=VARCHAR}, 
      #{warstate,jdbcType=VARCHAR}, #{content,jdbcType=BLOB})
  </insert>
  <insert id="insertSelective" parameterType="me.phoibe.doc.cms.domain.po.PhoibeDocument">
    insert into PHOIBE_DOCUMENT
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="name != null">
        NAME,
      </if>
      <if test="format != null">
        FORMAT,
      </if>
      <if test="userId != null">
        USER_ID,
      </if>
      <if test="score != null">
        SCORE,
      </if>
      <if test="filePath != null">
        FILE_PATH,
      </if>
      <if test="fileSize != null">
        FILE_SIZE,
      </if>
      <if test="combatType != null">
        COMBAT_TYPE,
      </if>
      <if test="arms != null">
        ARMS,
      </if>
      <if test="status != null">
        STATUS,
      </if>
      <if test="auditStatus != null">
        AUDIT_STATUS,
      </if>
      <if test="auditUserId != null">
        AUDIT_USER_ID,
      </if>
      <if test="progress != null">
        PROGRESS,
      </if>
      <if test="tag != null">
        TAG,
      </if>
      <if test="description != null">
        DESCRIPTION,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
      <if test="updateTime != null">
        UPDATE_TIME,
      </if>
      <if test="pagecount != null">
        PAGECOUNT,
      </if>
      <if test="hitcount != null">
        HITCOUNT,
      </if>
      <if test="recorder != null">
        RECORDER,
      </if>
      <if test="auditTime != null">
        AUDIT_TIME,
      </if>
      <if test="isstock != null">
        ISSTOCK,
      </if>
      <if test="stockTime != null">
        STOCK_TIME,
      </if>
      <if test="stocker != null">
        STOCKER,
      </if>
      <if test="userRealName != null">
        USER_REAL_NAME,
      </if>
      <if test="waraddr != null">
        WARADDR,
      </if>
      <if test="wartime != null">
        WARTIME,
      </if>
      <if test="winner != null">
        WINNER,
      </if>
      <if test="loser != null">
        LOSER,
      </if>
      <if test="warnum != null">
        WARNUM,
      </if>
      <if test="warstate != null">
        WARSTATE,
      </if>
      <if test="content != null">
        CONTENT,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=DECIMAL},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="format != null">
        #{format,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=DECIMAL},
      </if>
      <if test="score != null">
        #{score,jdbcType=DECIMAL},
      </if>
      <if test="filePath != null">
        #{filePath,jdbcType=VARCHAR},
      </if>
      <if test="fileSize != null">
        #{fileSize,jdbcType=DECIMAL},
      </if>
      <if test="combatType != null">
        #{combatType,jdbcType=DECIMAL},
      </if>
      <if test="arms != null">
        #{arms,jdbcType=DECIMAL},
      </if>
      <if test="status != null">
        #{status,jdbcType=DECIMAL},
      </if>
      <if test="auditStatus != null">
        #{auditStatus,jdbcType=DECIMAL},
      </if>
      <if test="auditUserId != null">
        #{auditUserId,jdbcType=DECIMAL},
      </if>
      <if test="progress != null">
        #{progress,jdbcType=DECIMAL},
      </if>
      <if test="tag != null">
        #{tag,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="pagecount != null">
        #{pagecount,jdbcType=DECIMAL},
      </if>
      <if test="hitcount != null">
        #{hitcount,jdbcType=DECIMAL},
      </if>
      <if test="recorder != null">
        #{recorder,jdbcType=DECIMAL},
      </if>
      <if test="auditTime != null">
        #{auditTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isstock != null">
        #{isstock,jdbcType=DECIMAL},
      </if>
      <if test="stockTime != null">
        #{stockTime,jdbcType=TIMESTAMP},
      </if>
      <if test="stocker != null">
        #{stocker,jdbcType=VARCHAR},
      </if>
      <if test="userRealName != null">
        #{userRealName,jdbcType=VARCHAR},
      </if>
      <if test="waraddr != null">
        #{waraddr,jdbcType=VARCHAR},
      </if>
      <if test="wartime != null">
        #{wartime,jdbcType=TIMESTAMP},
      </if>
      <if test="winner != null">
        #{winner,jdbcType=VARCHAR},
      </if>
      <if test="loser != null">
        #{loser,jdbcType=VARCHAR},
      </if>
      <if test="warnum != null">
        #{warnum,jdbcType=VARCHAR},
      </if>
      <if test="warstate != null">
        #{warstate,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        #{content,jdbcType=BLOB},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="me.phoibe.doc.cms.domain.po.PhoibeDocument">
    update PHOIBE_DOCUMENT
    <set>
      <if test="name != null">
        NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="format != null">
        FORMAT = #{format,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        USER_ID = #{userId,jdbcType=DECIMAL},
      </if>
      <if test="score != null">
        SCORE = #{score,jdbcType=DECIMAL},
      </if>
      <if test="filePath != null">
        FILE_PATH = #{filePath,jdbcType=VARCHAR},
      </if>
      <if test="fileSize != null">
        FILE_SIZE = #{fileSize,jdbcType=DECIMAL},
      </if>
      <if test="combatType != null">
        COMBAT_TYPE = #{combatType,jdbcType=DECIMAL},
      </if>
      <if test="arms != null">
        ARMS = #{arms,jdbcType=DECIMAL},
      </if>
      <if test="status != null">
        STATUS = #{status,jdbcType=DECIMAL},
      </if>
      <if test="auditStatus != null">
        AUDIT_STATUS = #{auditStatus,jdbcType=DECIMAL},
      </if>
      <if test="auditUserId != null">
        AUDIT_USER_ID = #{auditUserId,jdbcType=DECIMAL},
      </if>
      <if test="progress != null">
        PROGRESS = #{progress,jdbcType=DECIMAL},
      </if>
      <if test="tag != null">
        TAG = #{tag,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        DESCRIPTION = #{description,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="pagecount != null">
        PAGECOUNT = #{pagecount,jdbcType=DECIMAL},
      </if>
      <if test="hitcount != null">
        HITCOUNT = #{hitcount,jdbcType=DECIMAL},
      </if>
      <if test="recorder != null">
        RECORDER = #{recorder,jdbcType=DECIMAL},
      </if>
      <if test="auditTime != null">
        AUDIT_TIME = #{auditTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isstock != null">
        ISSTOCK = #{isstock,jdbcType=DECIMAL},
      </if>
      <if test="stockTime != null">
        STOCK_TIME = #{stockTime,jdbcType=TIMESTAMP},
      </if>
      <if test="stocker != null">
        STOCKER = #{stocker,jdbcType=VARCHAR},
      </if>
      <if test="userRealName != null">
        USER_REAL_NAME = #{userRealName,jdbcType=VARCHAR},
      </if>
      <if test="waraddr != null">
        WARADDR = #{waraddr,jdbcType=VARCHAR},
      </if>
      <if test="wartime != null">
        WARTIME = #{wartime,jdbcType=TIMESTAMP},
      </if>
      <if test="winner != null">
        WINNER = #{winner,jdbcType=VARCHAR},
      </if>
      <if test="loser != null">
        LOSER = #{loser,jdbcType=VARCHAR},
      </if>
      <if test="warnum != null">
        WARNUM = #{warnum,jdbcType=VARCHAR},
      </if>
      <if test="warstate != null">
        WARSTATE = #{warstate,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        CONTENT = #{content,jdbcType=BLOB},
      </if>
    </set>
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="me.phoibe.doc.cms.domain.po.PhoibeDocument">
    update PHOIBE_DOCUMENT
    set NAME = #{name,jdbcType=VARCHAR},
      FORMAT = #{format,jdbcType=VARCHAR},
      USER_ID = #{userId,jdbcType=DECIMAL},
      SCORE = #{score,jdbcType=DECIMAL},
      FILE_PATH = #{filePath,jdbcType=VARCHAR},
      FILE_SIZE = #{fileSize,jdbcType=DECIMAL},
      COMBAT_TYPE = #{combatType,jdbcType=DECIMAL},
      ARMS = #{arms,jdbcType=DECIMAL},
      STATUS = #{status,jdbcType=DECIMAL},
      AUDIT_STATUS = #{auditStatus,jdbcType=DECIMAL},
      AUDIT_USER_ID = #{auditUserId,jdbcType=DECIMAL},
      PROGRESS = #{progress,jdbcType=DECIMAL},
      TAG = #{tag,jdbcType=VARCHAR},
      DESCRIPTION = #{description,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      PAGECOUNT = #{pagecount,jdbcType=DECIMAL},
      HITCOUNT = #{hitcount,jdbcType=DECIMAL},
      RECORDER = #{recorder,jdbcType=DECIMAL},
      AUDIT_TIME = #{auditTime,jdbcType=TIMESTAMP},
      ISSTOCK = #{isstock,jdbcType=DECIMAL},
      STOCK_TIME = #{stockTime,jdbcType=TIMESTAMP},
      STOCKER = #{stocker,jdbcType=VARCHAR},
      USER_REAL_NAME = #{userRealName,jdbcType=VARCHAR},
      WARADDR = #{waraddr,jdbcType=VARCHAR},
      WARTIME = #{wartime,jdbcType=TIMESTAMP},
      WINNER = #{winner,jdbcType=VARCHAR},
      LOSER = #{loser,jdbcType=VARCHAR},
      WARNUM = #{warnum,jdbcType=VARCHAR},
      WARSTATE = #{warstate,jdbcType=VARCHAR},
      CONTENT = #{content,jdbcType=BLOB}
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="me.phoibe.doc.cms.domain.po.PhoibeDocument">
    update PHOIBE_DOCUMENT
    set NAME = #{name,jdbcType=VARCHAR},
      FORMAT = #{format,jdbcType=VARCHAR},
      USER_ID = #{userId,jdbcType=DECIMAL},
      SCORE = #{score,jdbcType=DECIMAL},
      FILE_PATH = #{filePath,jdbcType=VARCHAR},
      FILE_SIZE = #{fileSize,jdbcType=DECIMAL},
      COMBAT_TYPE = #{combatType,jdbcType=DECIMAL},
      ARMS = #{arms,jdbcType=DECIMAL},
      STATUS = #{status,jdbcType=DECIMAL},
      AUDIT_STATUS = #{auditStatus,jdbcType=DECIMAL},
      AUDIT_USER_ID = #{auditUserId,jdbcType=DECIMAL},
      PROGRESS = #{progress,jdbcType=DECIMAL},
      TAG = #{tag,jdbcType=VARCHAR},
      DESCRIPTION = #{description,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      PAGECOUNT = #{pagecount,jdbcType=DECIMAL},
      HITCOUNT = #{hitcount,jdbcType=DECIMAL},
      RECORDER = #{recorder,jdbcType=DECIMAL},
      AUDIT_TIME = #{auditTime,jdbcType=TIMESTAMP},
      ISSTOCK = #{isstock,jdbcType=DECIMAL},
      STOCK_TIME = #{stockTime,jdbcType=TIMESTAMP},
      STOCKER = #{stocker,jdbcType=VARCHAR},
      USER_REAL_NAME = #{userRealName,jdbcType=VARCHAR},
      WARADDR = #{waraddr,jdbcType=VARCHAR},
      WARTIME = #{wartime,jdbcType=TIMESTAMP},
      WINNER = #{winner,jdbcType=VARCHAR},
      LOSER = #{loser,jdbcType=VARCHAR},
      WARNUM = #{warnum,jdbcType=VARCHAR},
      WARSTATE = #{warstate,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  <sql id="selectByPage_Condition_Sql">
    <where>
      1=1
      <if test="param.name != null and param.name != ''">
        and NAME LIKE '%'||#{param.name,jdbcType=VARCHAR}||'%'
      </if>
      <if test="param.description != null and param.description != ''">
        and DESCRIPTION LIKE '%'||#{param.description,jdbcType=VARCHAR}||'%'
      </if>
      <if test="param.userId != null and param.userId != ''">
        and USER_ID = #{param.userId,jdbcType=DECIMAL}
      </if>
      <if test="param.format != null and param.format != ''">
        and FORMAT = #{param.format,jdbcType=VARCHAR}
      </if>
      <if test="param.userRealName != null and param.userRealName != ''">
        and USER_REAL_NAME Like '%'||#{param.userRealName,jdbcType=VARCHAR}||'%'
      </if>
      <if test="param.score != null and param.score != ''">
        and SCORE = #{param.score,jdbcType=DECIMAL}
      </if>
      <if test="param.combatType != null and param.arms != ''">
        and COMBAT_TYPE = #{param.combatType,jdbcType=DECIMAL}
      </if>
      <if test="param.arms != null and param.arms != ''">
        and ARMS = #{param.arms,jdbcType=DECIMAL}
      </if>
      <if test="param.status != null and param.tag != ''">
        and STATUS = #{param.status,jdbcType=DECIMAL}
      </if>
      <if test="param.auditStatus != null and param.tag != ''">
        and AUDIT_STATUS = #{param.auditStatus,jdbcType=DECIMAL}
      </if>
      <if test="param.tag != null and param.tag != ''">
        and TAG LIKE '%'||#{param.tag,jdbcType=VARCHAR}||'%'
      </if>
      <if test="param.auditTimeBegin != null">
        and AUDIT_TIME &gt;= #{param.auditTimeBegin,jdbcType=TIMESTAMP}
      </if>
      <if test="param.auditTimeEnd != null">
        and AUDIT_TIME &lt;= #{param.auditTimeEnd,jdbcType=TIMESTAMP}
      </if>
      <if test="param.stockTimeBegin != null">
        and STOCK_TIME &gt;= #{param.stockTimeBegin,jdbcType=TIMESTAMP}
      </if>
      <if test="param.stockTimeEnd != null">
        and STOCK_TIME &lt;= #{param.stockTimeEnd,jdbcType=TIMESTAMP}
      </if>
    </where>
  </sql>
  <select id="selectByPage" parameterType="me.phoibe.doc.cms.domain.po.PageParam" resultMap="BaseResultMap">
    SELECT t.* FROM (
    select
    <include refid="Base_Column_List"/>
    ,rownum rno
    from PHOIBE_DOCUMENT
    <include refid="selectByPage_Condition_Sql"/>
    ORDER BY ${orderBy} ${sort}
    ) t WHERE t.rno BETWEEN #{start} and (#{start}+#{limit})
  </select>

  <select id="selectCountByPage" parameterType="me.phoibe.doc.cms.domain.po.PageParam" resultType="long">
    select
    COUNT(*)
    from PHOIBE_DOCUMENT
    <include refid="selectByPage_Condition_Sql"/>
  </select>

  <select id="selectDocumentUser" parameterType="me.phoibe.doc.cms.domain.po.PageParam" resultType="me.phoibe.doc.cms.domain.dto.DPhoebeDocument">
    SELECT t.* FROM (
    select d.ID, NAME, FORMAT, USER_ID userId, SCORE,
    FILE_PATH filePath, FILE_SIZE fileSize, COMBAT_TYPE combatType, ARMS, d.STATUS, AUDIT_STATUS auditStatus, AUDIT_USER_ID auditUserId,
    PROGRESS, TAG, DESCRIPTION, d.CREATE_TIME createTime, d.UPDATE_TIME updateTime,PAGECOUNT,AUDIT_TIME auditTime,ISSTOCK,STOCK_TIME stockTime,STOCKER,USER_NAME userName, TYPE,
    REALNAME,NICKNAME ,rownum rno
    from PHOIBE_DOCUMENT d JOIN PHOIBE_USER u ON d.USER_ID = u.ID

    ORDER BY d.CREATE_TIME DESC nulls last
    ) t WHERE t.rno BETWEEN #{start} and (#{start}+#{limit})
  </select>
</mapper>