<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>文档管理</title>
    <link rel="stylesheet" href="css/management.css"/>
</head>
<body>
    <div id="docmgr">
        <div class="main box_border">
            <div class="container box_border">
                <div class="box_border">
              
                    <div class="bg_whiteSD box_border search inputblock">
                    <div class="plateHeader i-docmgr"></div>

                        文档名称:<input type="text" />典型作战：
                        <select>
                      <option value ="volvo">Volvo</option>
                      <option value ="saab">Saab</option>
                        </select>
                        兵种：<select>
                      <option value ="volvo">Volvo</option>
                      <option value ="saab">Saab</option>
                        </select>文档拥有者：<input type="text" />
                        <span class="btnSearch"></span>
                        <ul class="checkList clearfix ">
                            <li class="checkBox check">PDF</li>
                            <li class="checkBox">DOC</li>
                            <li class="checkBox ">DOCX</li>
                            <li class="checkBox">PDF</li>
                            <li class="checkBox">DOC</li>
                            <li class="checkBox ">DOCX</li>
                            <li class="checkBox">PDF</li>
                            <li class="checkBox">DOC</li>
                            <li class="checkBox ">DOCX</li>
                            <li class="checkBox ">PDF</li>
                            <li class="checkBox">DOC</li>
                            <li class="checkBox ">DOCX</li>
                            <li class="checkBox">DOC</li>
                            <li class="checkBox ">DOCX</li>
                            <li class="checkBox">PDF</li>
                        </ul>
                    </div>
                   
                </div>
                <br />
               <div class="content box_border top  bg_whiteSD">
                        <div class="box_border">
                            <div class="box_border bg_whiteSD" id="doc-content">
                                <div class="row">
                                    <a class="title" href="docdetail.html">伊拉克战争空军作战</a>
                                    <ul><li>上传时间:2018-08-01</li><li>格式:PDF</li><li>46条评论</li><li>评分44</li><li>大小:102K</li><li>文档拥有者:LEE</li></ul>
                                </div>

                                 <div class="row">
                                    <a class="title" href="docdetail.html">伊拉克战争空军作战</a>
                                    <ul><li>上传时间:2018-08-01</li><li>格式:PDF</li><li>46条评论</li><li>评分44</li><li>大小:102K</li><li>文档拥有者:LEE</li></ul>
                                </div>
                                 <div class="row">
                                    <a class="title" href="docdetail.html">伊拉克战争空军作战</a>
                                    <ul><li>上传时间:2018-08-01</li><li>格式:PDF</li><li>46条评论</li><li>评分44</li><li>大小:102K</li><li>文档拥有者:LEE</li></ul>
                                </div>
                                 <div class="row">
                                    <a class="title" href="docdetail.html">伊拉克战争空军作战</a>
                                    <ul><li>上传时间:2018-08-01</li><li>格式:PDF</li><li>46条评论</li><li>评分44</li><li>大小:102K</li><li>文档拥有者:LEE</li></ul>
                                </div>
                                 <div class="row">
                                    <a class="title" href="docdetail.html">伊拉克战争空军作战</a>
                                    <ul><li>上传时间:2018-08-01</li><li>格式:PDF</li><li>46条评论</li><li>评分44</li><li>大小:102K</li><li>文档拥有者:LEE</li></ul>
                                </div>
                                 <div class="row">
                                    <a class="title" href="docdetail.html">伊拉克战争空军作战</a>
                                    <ul><li>上传时间:2018-08-01</li><li>格式:PDF</li><li>46条评论</li><li>评分44</li><li>大小:102K</li><li>文档拥有者:LEE</li></ul>
                                </div>
                                 <div class="row">
                                    <a class="title" href="docdetail.html">伊拉克战争空军作战</a>
                                    <ul><li>上传时间:2018-08-01</li><li>格式:PDF</li><li>46条评论</li><li>评分44</li><li>大小:102K</li><li>文档拥有者:LEE</li></ul>
                                </div>

                            </div>
                        </div>
                    </div>

            </div>
        </div>
</div>
<script src="js/jquery-2.1.0.min.js"></script>
<script src="js/management.js"></script>
 
</body>
</html>