<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>文档管理</title>
    <link rel="stylesheet" href="css/management.css"/>
</head>
<body>
    <div id="index-m">
        <div class="main box_border">
            <div class="container box_border">
                <div class="box_border">
                    <div class="bg_whiteSD box_border search">
                        <div class="inputBox">
                            <input type="text" class="box_border" />
                            <span class="btnSearch"></span>
                        </div>
                        <ul class="checkList clearfix ">
                            <li class="checkBox check">PDF</li>
                            <li class="checkBox">DOC</li>
                            <li class="checkBox ">DOCX</li>
                        </ul>
                    </div>
                    <div class="content box_border">
                        <div class="box_border left">
                            <div class="box_border bg_whiteSD">
                                <div class="plateHeader jingpin"></div>
                                    <div class="col3">
                                        <div class="font22 title">中国战法</div>
                                        <ul class="list1">
                                            <li><i class="pdf"></i>中国古代战法</li>
                                            <li><i class="pdf"></i>中国古代战法</li>
                                            <li><i class="doc"></i>中国古代战法</li>
                                        </ul>
                                    </div>

                                    <div class="col3">
                                        <div class="font22 title">中国战法</div>
                                        <ul class="list1">
                                            <li><i class="doc"></i>中国古代战法</li>
                                            <li><i class="pdf"></i>中国古代战法</li>
                                            <li><i class="doc"></i>中国古代战法</li>
                                        </ul>
                                    </div>
                                <div class="col3">
                                    <div class="font22 title">中国战法</div>
                                    <ul class="list1">
                                        <li><i class="doc"></i>中国古代战法</li>
                                        <li><i class="pdf"></i>中国古代战法</li>
                                        <li><i class="doc"></i>中国古代战法</li>
                                    </ul>
                                </div>

                                <div class="col3">
                                    <div class="font22 title">中国战法</div>
                                    <ul class="list1">
                                        <li><i class="doc"></i>中国古代战法</li>
                                        <li><i class="doc"></i>中国古代战法</li>
                                        <li><i class="doc"></i>中国古代战法</li>
                                    </ul>
                                </div>
                                <div class="col3">
                                    <div class="font22 title">中国战法</div>
                                    <ul class="list1">
                                        <li><i class="doc"></i>中国古代战法</li>
                                        <li><i class="doc"></i>中国古代战法</li>
                                        <li><i class="doc"></i>中国古代战法</li>
                                    </ul>
                                </div>
                              
                                <div class="col3">
                                    <div class="font22 title">中国战法</div>
                                    <ul class="list1">
                                        <li><i class="doc"></i>中国古代战法</li>
                                        <li><i class="pdf"></i>中国古代战法</li>
                                        <li><i class="doc"></i>中国古代战法</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="box_border bg_whiteSD">
                                <div class="plateHeader resou"></div>
                                <div class="col3">
                                    <div class="font22 title">中国战法</div>
                                    <ul class="list1">
                                        <li><i class="doc"></i>中国古代战法</li>
                                        <li><i class="pdf"></i>中国古代战法</li>
                                        <li><i class="doc"></i>中国古代战法</li>
                                    </ul>
                                </div>

                                <div class="col3">
                                    <div class="font22 title">中国战法</div>
                                    <ul class="list1">
                                        <li><i class="doc"></i>中国古代战法</li>
                                        <li><i class="pdf"></i>中国古代战法</li>
                                        <li><i class="doc"></i>中国古代战法</li>
                                    </ul>
                                </div>
                                <div class="col3">
                                    <div class="font22 title">中国战法</div>
                                    <ul class="list1">
                                        <li><i class="doc"></i>中国古代战法</li>
                                        <li><i class="pdf"></i>中国古代战法</li>
                                        <li><i class="doc"></i>中国古代战法</li>
                                    </ul>
                                </div>

                                <div class="col3">
                                    <div class="font22 title">中国战法</div>
                                    <ul class="list1">
                                        <li><i class="pdf"></i>中国古代战法</li>
                                        <li><i class="doc"></i>中国古代战法</li>
                                        <li><i class="pdf"></i>中国古代战法</li>
                                    </ul>
                                </div>
                                <div class="col3">
                                    <div class="font22 title">中国战法</div>
                                    <ul class="list1">
                                        <li><i class="doc"></i>中国古代战法</li>
                                        <li><i class="doc"></i>中国古代战法</li>
                                        <li><i class="pdf"></i>中国古代战法</li>
                                    </ul>
                                </div>

                                <div class="col3">
                                    <div class="font22 title">中国战法</div>
                                    <ul class="list1">
                                        <li><i class="doc"></i>中国古代战法</li>
                                        <li><i class="pdf"></i>中国古代战法</li>
                                        <li><i class="pdf"></i>中国古代战法</li>
                                    </ul>
                                </div>
                            </div>

                        </div>
                        <div class="box_border rightAb">
                            <div class="dataword box_border">
                                <div class="font18">战法数据文档</div>
                                <div class="font16">19,087，500</div>

                            </div>
                            <div class="bg_whiteSD idx_box_list">
                                <div class="index-head-bg">
                                    <img class="index-head" src="images/index-head.png"/><span class="userName">李明,你好</span>
                                </div>
                                <div class="font22 title">中国战法</div>
                                <ul class="list3">
                                    <li><i class="i-star"></i>中国古代战法</li><li>34页面</li><li>上传完成</li>
                                    <li><i class="i-star"></i>中国古代战法</li><li>34页面</li><li>下载完成</li>
                                </ul>
                                <div class="clearfix"></div>
                                <div id="upload"></div>
                            </div>
                            <div class="bg_whiteSD idx_box_list">
                                <div class="font22 title">最新动态</div>
                                   <marquee id="affiche" align="left" behavior="scroll" direction="up" height="176px" width="100%" loop="-1" scrollamount="10" scrolldelay="300" onMouseOut="this.start()" onMouseOver="this.stop()">
<ul class="list3">
                                     
                                    <li>中国古代战法</li><li>李明</li><li>30秒前上传</li>
                                    <li>中国古代战法</li><li>李明</li><li>60秒前上传</li>
                                     <li>中国古代战法</li><li>李明</li><li>30秒前上传</li>
                                    <li>中国古代战法</li><li>李明</li><li>60秒前上传</li> 
    <li>中国古代战法</li><li>李明</li><li>30秒前上传</li>
                                    <li>中国古代战法</li><li>李明</li><li>60秒前上传</li>
                                     <li>中国古代战法</li><li>李明</li><li>30秒前上传</li>
                                    <li>中国古代战法</li><li>李明</li><li>60秒前上传</li> 
    <li>中国古代战法</li><li>李明</li><li>30秒前上传</li>
                                    <li>中国古代战法</li><li>李明</li><li>60秒前上传</li>
                                     <li>中国古代战法</li><li>李明</li><li>30秒前上传</li>
                                    <li>中国古代战法</li><li>李明</li><li>60秒前上传</li> 
                                </ul></marquee>
                                       </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>

     <div class="bodyMask">
<div class="mask">
    <span class="fullScreen"></span>
    <div class="popup">
        <div class="model-title fl">上传文档</div><i class="closed fr"></i>
        <div class="clearfix"></div> 
        <hr />
       　<div class="tbl-row">
            <div class="lable">选择文件:</div><div class="ctrl"><input type="file" /></div>
         </div>
         <div class="tbl-row">
            <div class="lable">标题:</div><div class="ctrl"><input type="text" class="inputBox"/></div>
         </div>
        <div class="tbl-row">
            <div class="lable">类型作战:</div><div class="ctrl"><select>
                      <option value ="volvo">Volvo</option>
                      <option value ="saab">Saab</option>
                        </select></div>
         </div>
        <div class="tbl-row">
            <div class="lable">兵种:</div><div class="ctrl"><select>
                      <option value ="volvo">Volvo</option>
                      <option value ="saab">Saab</option>
                        </select></div>
         </div>
        <div class="tbl-row">
            <div class="lable">类型:</div><div class="ctrl"><select>
                      <option value ="volvo">Volvo</option>
                      <option value ="saab">Saab</option>
                        </select></div>
         </div>
        <div class="tbl-row">
            <div class="lable">单位:</div><div class="ctrl"><input type="text" class="inputBox"/></div>
         </div>
        <div class="tbl-row">
            <div class="lable"></div>
            <div class="ctrl">
            <div class="submit"></div></div>
        </div>
    </div>
        </div>
</div>

<script src="js/jquery-2.1.0.min.js"></script>
<script src="js/management.js"></script>
   
   <script>
       $(function () {
           $("#upload").click(function () {
               $(".bodyMask").fadeIn();
           });
           $(".closed").click(function () {
               $(".bodyMask").hide();
           });
       });
</script>
</body>
</html>