<!DOCTYPE html>
<html>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<head lang="en">
<meta charset="UTF-8">
<title>文档管理</title>
<link rel="stylesheet" href="css/management.css" />
<script src="js/jquery-2.1.0.min.js"></script>
<script src="js/index.js"></script>
</head>
<body>
	<div id="index-m">
		<div class="main box_border">
			<div class="container box_border">
				<div class="box_border">
					<div class="bg_whiteSD box_border search">
						<div class="inputBox">
							<input type="text" class="box_border" id="search-key" /> <span
								class="btnSearch" id="btnSearch"></span>
						</div>
						<ul class="checkList clearfix " id="con-value">
							<li class="checkBox check">PDF</li>
							<li class="checkBox">DOC</li>
							<li class="checkBox ">DOCX</li>
							<li class="checkBox">BMP</li>
							<li class="checkBox">PNG</li>
							<li class="checkBox ">GIF</li>
							<li class="checkBox">JPG</li>
							<li class="checkBox">JPEG</li>
							<li class="checkBox ">MPG</li>
							<li class="checkBox ">AVI</li>
							<li class="checkBox">MOV</li>
							<li class="checkBox ">MP4</li>
							<li class="checkBox">MP3</li>
							<li class="checkBox ">WAV</li>
							<li class="checkBox">MID</li>
						</ul>
					</div>
					<div class="content box_border">
						<div class="box_border left">
							<div class="box_border bg_whiteSD">
								<div class="plateHeader jingpin"></div>
								<HR style="FILTER: alpha(opacity=100,finishopacity=0,style=1);margin: 8px;" width="90%" color=#4cb6d2 SIZE=3>
								<div id="recom-doc"></div>
							</div>
							<div class="box_border bg_whiteSD">
								<div class="plateHeader resou"></div>
								<HR style="FILTER: alpha(opacity=100,finishopacity=0,style=1);margin: 8px;" width="90%" color=#4cb6d2 SIZE=3>
								<div id="resou-doc"></div>
							</div>
						</div>
						<div class="box_border rightAb">
							<div class="dataword box_border">
                                <div class="font18">战法数据文档</div>
                                <div class="font16" id="docnum"></div>

                            </div>
                            <div class="bg_whiteSD idx_box_list">
                                <div class="index-head-bg">
                                    <img class="index-head" src="images/index-head.png"/><span class="userName">李明,你好</span>
                                </div>
                                <div class="font22 title">中国战法</div>
                                <ul class="list3" id="zgzhanfa">
                                   
                                </ul>
                                <div class="clearfix"></div>
                                <div id="upload"></div>
                            </div>
                            <div class="bg_whiteSD idx_box_list">
                                <div class="font22 title">最新动态</div>
                                   <marquee id="affiche" align="left" behavior="scroll" direction="up" height="176px" width="100%" loop="-1" scrollamount="10" scrolldelay="300" onMouseOut="this.start()" onMouseOver="this.stop()">
                                    <ul class="list3" id="lst-dym">

                                    </ul>
                                   </marquee>
                                </div>
                            </div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


	<script src="js/management.js"></script>
	<script>
		
</body>
</html>