<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>个人中心</title>
    <link rel="stylesheet" href="css/management.css"/>
  
</head>
<body>
    <div id="percenter">
     <div class="main box_border">
            <div class="container box_border">
                <div class="box_border">
                 <div class="bg_whiteSD box_border top inputblock">
                    <div class="plateHeader i-percener"></div>
        
                     <div class="sidebar">

	<div class="widget widget-tab">
        
		<input type="radio" name="widget-tab" id="new" checked="checked" style="display:none;"/>
		<input type="radio" name="widget-tab" id="hot" style="display:none;"/>
        <input type="radio" name="widget-tab" id="random" style="display:none;"/>
		<div class="widget-title inline-ul">
			<ul>
				<li class="new">
					<label for="new">文档动态</label>
				</li>

				<li class="hot">
					<label for="hot">最近浏览</label>

				</li >
                	<li class="random">
					<label for="random">我的收藏</label>
				</li>
       
			</ul>
		</div>
		<div class="widget-box">
            <ul class="new-list">
				<li>
                    <div class="col3"><ol class="list1">
                                            <li><i class="pdf"></i>中国古代战法&nbsp;&nbsp;&nbsp;&nbsp;<b class="f-blue">上传成功</b></li>
                                            <li><i class="pdf"></i>中国古代战法&nbsp;&nbsp;&nbsp;&nbsp;<b class="f-blue">上传成功</b></li>
                                            <li><i class="doc"></i>中国古代战法&nbsp;&nbsp;&nbsp;&nbsp;<b class="f-red">上传未成功</b></li>
                                        </ol></div>
                         <div class="col3"><ol class="list1">
                                            <li><i class="pdf"></i>中国古代战法&nbsp;&nbsp;&nbsp;&nbsp;<b class="f-red">上传未成功</b></li>
                                            <li><i class="pdf"></i>中国古代战法&nbsp;&nbsp;&nbsp;&nbsp;<b class="f-blue">上传成功</b></li>
                                            <li><i class="doc"></i>中国古代战法&nbsp;&nbsp;&nbsp;&nbsp;<b class="f-blue">上传成功</b></li>
                                        </ol></div>     
                        <div class="col3"><ol class="list1">
                                            <li><i class="pdf"></i>中国古代战法&nbsp;&nbsp;&nbsp;&nbsp;<b class="f-blue">上传成功</b></li>
                                            <li><i class="pdf"></i>中国古代战法&nbsp;&nbsp;&nbsp;&nbsp;<b class="f-red">上传未成功</b></li>
                                            <li><i class="doc"></i>中国古代战法&nbsp;&nbsp;&nbsp;&nbsp;<b class="f-blue">上传成功</b></li>
                                        </ol></div>    

                 
				</li>
			</ul>
			<ul class="hot-list">
				<li><div class="col3">
                    <ol class="list1">
                                            <li><i class="pdf"></i>中国古代战法&nbsp;&nbsp;&nbsp;&nbsp;<b class="f-blue">2018-01-03</b></li>
                                            <li><i class="pdf"></i>中国古代战法&nbsp;&nbsp;&nbsp;&nbsp;<b class="f-blue">2018-01-03</b></li>
                                            <li><i class="doc"></i>中国古代战法&nbsp;&nbsp;&nbsp;&nbsp;<b class="f-blue">2018-01-03</b></li>
                                        </ol></div>    
                    <div class="col3">
                    <ol class="list1">
                                            <li><i class="pdf"></i>中国古代战法&nbsp;&nbsp;&nbsp;&nbsp;<b class="f-blue">2018-01-03</b></li>
                                            <li><i class="pdf"></i>中国古代战法&nbsp;&nbsp;&nbsp;&nbsp;<b class="f-blue">2018-01-03</b></li>
                                            <li><i class="doc"></i>中国古代战法&nbsp;&nbsp;&nbsp;&nbsp;<b class="f-blue">2018-01-03</b></li>
                                        </ol></div>   <div class="col3">
                    <ol class="list1">
                                            <li><i class="pdf"></i>中国古代战法&nbsp;&nbsp;&nbsp;&nbsp;<b class="f-blue">2018-01-03</b></li>
                                            <li><i class="pdf"></i>中国古代战法&nbsp;&nbsp;&nbsp;&nbsp;<b class="f-blue">2018-01-03</b></li>
                                            <li><i class="doc"></i>中国古代战法&nbsp;&nbsp;&nbsp;&nbsp;<b class="f-blue">2018-01-03</b></li>
                                        </ol></div>   
				</li>
			</ul>
            <ul class="random-list">
				<li><div class="col3">
                    <ol class="list1">
                                            <li><i class="pdf"></i>中国古代战法&nbsp;&nbsp;&nbsp;&nbsp;<b class="f-blue">2018-01-03</b></li>
                                            <li><i class="pdf"></i>中国古代战法&nbsp;&nbsp;&nbsp;&nbsp;<b class="f-blue">2018-01-03</b></li>
                                            <li><i class="doc"></i>中国古代战法&nbsp;&nbsp;&nbsp;&nbsp;<b class="f-blue">2018-01-03</b></li>
                                        </ol></div>   
                <div class="col3">
                    <ol class="list1">
                                            <li><i class="pdf"></i>中国古代战法&nbsp;&nbsp;&nbsp;&nbsp;<b class="f-blue">2018-01-03</b></li>
                                            <li><i class="pdf"></i>中国古代战法&nbsp;&nbsp;&nbsp;&nbsp;<b class="f-blue">2018-01-03</b></li>
                                            <li><i class="doc"></i>中国古代战法&nbsp;&nbsp;&nbsp;&nbsp;<b class="f-blue">2018-01-03</b></li>
                                        </ol></div>   
                    <div class="col3">
                    <ol class="list1">
                                            <li><i class="pdf"></i>中国古代战法&nbsp;&nbsp;&nbsp;&nbsp;<b class="f-blue">2018-01-03</b></li>
                                            <li><i class="pdf"></i>中国古代战法&nbsp;&nbsp;&nbsp;&nbsp;<b class="f-blue">2018-01-03</b></li>
                                            <li><i class="doc"></i>中国古代战法&nbsp;&nbsp;&nbsp;&nbsp;<b class="f-blue">2018-01-03</b></li>
                                        </ol></div>   
				</li>

			</ul>

		</div>

	</div>

</div>



                     

               </div>
                <br />
               <div class="content box_border inputblock top bg_whiteSD">
                         <div class="box_border">
                                <a id="newfolder">新建文件夹</a>&nbsp;&nbsp;&nbsp;&nbsp;<a id="move">移动</a>&nbsp;&nbsp;&nbsp;&nbsp;<a id="del">删除</a> &nbsp;&nbsp;&nbsp;&nbsp;<div id="uploadfile"></div>                             
                           <br />  <br />
                             <table class="tblist" border="0">
                                 <tr><th style="width:50px"></th><th>文档名称</th><th>大小</th><th>文件类型</th><th>文档标签</th><th>审批时间</th><th>状态</th><th>来源</th><th>创建时间</th><th>进度</th></tr>
                                 <tr><td style="width:50px"><input type="radio" name="chksel"/></td><td>文档名称</td><td>大小</td><td>文件类型</td><td>文档标签</td><td>审批时间</td><td class="f-blue">审核通过</td><td>来源</td><td>2018-01-01</td><td></td></tr>
                                 
                                 <tr><td style="width:50px"><input type="radio" name="chksel"/></td><td>文档名称</td><td>大小</td><td>文件类型</td><td>文档标签</td><td>审批时间</td><td class="f-red">审核未通过</td><td>来源</td><td>2018-01-01</td><td></td></tr>
                             </table>
                         </div>
                  
                </div>
            </div> 

           </div>       
        </div>
    </div>

    <div class="bodyMask">
<div class="mask">
    <span class="fullScreen"></span>
    <div class="popup">
        <div class="model-title fl">上传文档</div><i class="closed fr"></i>
        <div class="clearfix"></div> 
        <hr />
       　<div class="tbl-row">
            <div class="lable">选择文件:</div><div class="ctrl"><input type="file" /></div>
         </div>
         <div class="tbl-row">
            <div class="lable">标题:</div><div class="ctrl"><input type="text" class="inputBox"/></div>
         </div>
        <div class="tbl-row">
            <div class="lable">类型作战:</div><div class="ctrl"><select>
                      <option value ="volvo">Volvo</option>
                      <option value ="saab">Saab</option>
                        </select></div>
         </div>
        <div class="tbl-row">
            <div class="lable">兵种:</div><div class="ctrl"><select>
                      <option value ="volvo">Volvo</option>
                      <option value ="saab">Saab</option>
                        </select></div>
         </div>
        <div class="tbl-row">
            <div class="lable">类型:</div><div class="ctrl"><select>
                      <option value ="volvo">Volvo</option>
                      <option value ="saab">Saab</option>
                        </select></div>
         </div>
        <div class="tbl-row">
            <div class="lable">单位:</div><div class="ctrl"><input type="text" class="inputBox"/></div>
         </div>
        <div class="tbl-row">
            <div class="lable"></div>
            <div class="ctrl">
            <div class="submit"></div></div>
        </div>
    </div>
        </div>
</div>
<script src="js/jquery-2.1.0.min.js"></script>
<script src="js/management.js"></script>
<script>
    $(function () {
        $("#uploadfile").click(function () {
            $(".bodyMask").fadeIn();
        });
        $(".closed").click(function () {
            $(".bodyMask").hide();
        });
    });
</script>

</html>