<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>入库管理</title>
    <link rel="stylesheet" href="css/management.css"/>
   
</head>
<body>
      <div id="stockmgr">
          <div class="main box_border">
            <div class="container box_border">
                <div class="box_border">
                 <div class="bg_whiteSD box_border search inputblock">
                    <div class="plateHeader i-stock"></div>
        <div class="border-l">
                     文档名称:<input type="text" />&nbsp;&nbsp;上传人:<input type="text" />
                        文档状态:<select style="width:60px;">
                      <option value ="volvo">通过</option>
                      <option value ="saab">未通过</option>
                        </select>
                        &nbsp;&nbsp;审核时间:<input type="text" id="startdate" style="width:100px"/>-<input id="enddate" type="text" style="width:100px"/>&nbsp;&nbsp;
                        <span class="btnSearch"></span>
                        <ul class="checkList clearfix ">
                            <li class="checkBox check">PDF</li>
                            <li class="checkBox">DOC</li>
                            <li class="checkBox ">DOCX</li>
                            <li class="checkBox">PDF</li>
                            <li class="checkBox">DOC</li>
                            <li class="checkBox ">DOCX</li>
                            <li class="checkBox">PDF</li>
                            <li class="checkBox">DOC</li>
                            <li class="checkBox ">DOCX</li>
                            <li class="checkBox ">PDF</li>
                            <li class="checkBox">DOC</li>
                            <li class="checkBox ">DOCX</li>
                            <li class="checkBox">DOC</li>
                            <li class="checkBox ">DOCX</li>
                            <li class="checkBox">PDF</li>
                        </ul>
            </div>
               </div>
                <br />
               <div class="content box_border inputblock top bg_whiteSD">
                         <div class="box_border">
                           
                                <div class="addstock"></div>&nbsp;&nbsp;&nbsp;&nbsp;<div class="delstock"></div>              
                           <br />  <br />
                             <table class="tblist" border="0">
                                 <tr><th style="width:50px"></th><th>文档名称</th><th>大小</th><th>上传人</th><th>文档标签</th><th>审批时间</th><th>文档状态</th><th>审批人</th></tr>
                                 <tr><td><input type="radio" name="chksel"/></td><td>文档名称</td><td>大小</td><td>上传人</td><td>文档标签</td><td>审批时间</td><td class="f-blue">审核通过</td><td>审批人</td></tr>
                                 
                                 <tr><td><input type="radio" name="chksel"/></td><td>文档名称</td><td>大小</td><td>上传人</td><td>文档标签</td><td>审批时间</td><td class="f-red">审核未通过</td><td>审批人</td></tr>
                             </table>
                         </div>
                  
                </div>
            </div> 
              
           </div>
            
        </div>
    </div>
<script src="js/jquery-2.1.0.min.js"></script>
    <script src="js/management.js"></script>
        <script src="js/laydate/laydate.js"></script>
    <script>
        //lay('#version').html('-v'+ laydate.v);

        laydate.render({
            elem: '#startdate'
        });
        laydate.render({
            elem: '#enddate'
        });
</script>
</body>
</html>